@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: black;
    text-decoration: none;
    color: bisque;
    font-family: Montserrat;
}

.color {
    color: aquamarine;
}

.links {
    text-decoration: none;
    color: #ccc;
}

.navbar header nav ul{
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    z-index: 999;
    display:flex;
    justify-content: space-between;
    padding-right: 5%;
}

header.sticky {
    background-color: #fff;
    padding: 0px 5%;
    transition: ease 0.6s;
}

header.sticky nav ul li a, header.sticky h3 {
    color: black;
    transition: 0.6s ease;
    position: relative;
}

.links {
  font-weight: 500;
  margin-left: 10px; /* Add spacing between links */
  border-right: 1px solid #ccc; /* Add a border to the right of each link */
  padding-right: 10px; /* Add padding to the right of each link */
  transition: ease 1s;
}

.navbar header nav {
    display: flex;
    align-items: center;
}

nav .links:hover {
    color: aquamarine;
}

nav ul li a{
    color: white;
    font-size: 20px;
}

@keyframes spawn {
    0% {
        scale: 0.8;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

.main{
    height: 100vh;
}
.description {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    animation-name: spawn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.description span {
    font-weight: 600;
}

.description h2 {
    font-size: 50px;
}

.description p{
    font-size: 20px;
}